#!/usr/bin/env bash

export PROJECT="$(expand_path .)"

source_env_if_exists .local/envrc
# values for the following secret/private should be set within `.local/envrc`:
# env_vars_required XYZ_KEY

PATH_add bin
